extends ../index.pug

block variables
    - var template = 'threejs'

block content
    .threejs 
        .description.section
            span visit
            span(style='display:inline-block;') &nbsp;
            a.siteLink(href='https://www.latenightcoders.club/community' target='_blank') latenightcoders.club 
            span(style='display:inline-block;') &nbsp;
            span and join the community
        section.section
            img.image(src='https://images.unsplash.com/photo-1660494911852-7ce46edd9cc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60' alt='image for portfolio')
        section.section
            img.image(src='https://images.unsplash.com/photo-1660487054778-6b0e7d4b5b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60' alt='image for portfolio')
        section.section
            img.image(src='https://images.unsplash.com/photo-1542379653-b928db1b4956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60' alt='image for portfolio')
        section.section
            img.image(src='https://images.unsplash.com/photo-1660489352385-2fd03e42c408?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60' alt='image for portfolio')
        section.section
            img.image(src='https://images.unsplash.com/photo-1660470103975-463b15e156b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyN3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60' alt='image for portfolio')
    .threejs__canvas__container